@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

body{
	overflow: hidden;
	font-family: 'Noto Sans Korean', Helvetica, Arial, sans-serif;
}

.wrapper{
	position:relative;
	width: 100vw;
	height: 100vh;	
	transition: background-color 0.3s 0.15s;
}

.visualizer{	
	position:absolute;
	left:50%;
	top:50%;		
	z-index: 2;
	transition: left 0.3s;
	will-change: transform;	
}
.visualizer.showLyrics{
	left:25%;
}

.visualizer > div:not(#innerCircle){
	display: inline-block;
	position: absolute;	
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;		
	transform-origin:0% 0%;	
	transition: background-color 0.3s 0.15s;
}

#innerCircle{
	position:absolute;
	left:50%;
	top:50%;	
	width:200px;
	height:200px;
	box-sizing: border-box;	
	background-size: cover;
	border-radius: 100%;	
	transform: translate(-50%,-50%);
}

.lyrics{
	position:absolute;
	left:50%;
	top:50%;		
	z-index: 1;
	font-size: 3.5rem;
	font-weight: bold;	
	text-align: center;
    width: 50vw;
	opacity: 0;
	transform: translate(-50%,-50%) scale(0.5);
	transition: all 0.3s;	
}
.lyrics.showLyrics{
	left: 70%;
	opacity: 1;
	transform: translate(-50%,-50%) scale(1);
}
.lyrics > h1{
	margin: 1rem 0;
	line-height: 1.5;
}