@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

*{
	box-sizing: border-box;
}

body{
	overflow: hidden;
	font-family: 'Noto Sans Korean', Helvetica, Arial, sans-serif;
}

.wrapper{
	position:relative;
	width: 100vw;
	height: 100vh;	
	transition: background-color 0.3s 0.15s;
}

#logo{
	display: inline-block;
	padding:1.5rem;
	font-size:3rem;
	font-weight: 300;
	transition: all 0.3s 0.15s;
}
#forkMeImage{
	position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.music-controller{
	display: flex;	
	position: absolute;
	top: 5%;
	z-index: 2;
	width: 100%;
	flex-direction: column;
 	align-items: center;
}
.music-controller input[type="file"]{
	pointer-events: none;
}

.btnGroup__controller{
	display: flex;
}
.btnGroup__controller > button{
	background-color: transparent;
	outline: none;
	
	transition: all 0.3s 0.15s;
}

.btnGroup__controller > button:nth-of-type(2),
.btnGroup__controller > button:nth-of-type(3),
.btnGroup__controller > button:nth-of-type(4){
	border-right: none !important;
}

.findLyrics{	
	position: relative;
	z-index: -1;
	opacity: 0;
	display: flex;
	transform: translateY(-3rem) scale(0.7);	
	transition: all 0.3s;
}
.findLyrics.show{
	z-index: 1;	
	opacity: 1;
	transform: translateY(0.1rem) scale(1);
}
.findLyrics > input,
.findLyrics > button{	
	padding: 0.45rem;
	outline: none;
}

.visualizer{	
	position:absolute;
	left:50%;
	top:50%;		
	z-index: 2;
	transition: left 0.3s;
	will-change: transform;	
}
.visualizer.showLyrics{
	left:25%;
}

.visualizer > div:not(#innerCircle){
	display: inline-block;
	position: absolute;	
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;		
	transform-origin:0% 0%;	
	transition: background-color 0.3s 0.15s;
}

#innerCircle{
	position:absolute;
	left:50%;
	top:50%;	
	width:200px;
	height:200px;
	box-sizing: border-box;	
	background-size: cover;
	border-radius: 100%;	
	transform: translate(-50%,-50%);
}

.lyrics{
	position:absolute;
	left:50%;
	top:50%;		
	z-index: 1;
	font-size: 1.75rem;
	font-weight: 300;	
	text-align: center;
    width: 50vw;
	height: 50vh;
	overflow: hidden;
	opacity: 0;
	transform: translate(-50%,-50%) scale(0.5);
	transition: background-color 0.3s 0.15s, opacity 0.3s, transform 0.3s, left 0.3s;
}
.lyrics:after,
.lyrics:before{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	height: 2rem;
	z-index: 1;
    filter: blur(15px);
	background: inherit;	
}
.lyrics:after{
	top:0;
}
.lyrics:before{
	bottom:0;
}
.lyrics.showLyrics{
	left: 70%;
	opacity: 1;
	transform: translate(-50%,-50%) scale(1);
}
.lyrics > div{
	transition: all 0.15s ease-in-out;	
}
.lyrics > div > p{
	margin: 1rem 0;
	line-height: 1.75;
}

.playlist{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
	padding: 2rem;
	width: 38rem;
	height: 11rem;		
	transition: all 0.3s 0.15s;	
}	
.playlist:not(.show):hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.16);
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.playlist.show{
	width: 45rem;
	height: 100vh;	
	background-color:rgba(0, 0, 0, 0.73);	
	color: white;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);	
}

.playlist.show .backdrop{
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	background-color: rgba(0,0,0,0.6);
	transition: all 0.3s;
}

.playlist.show .backdrop{
	opacity: 1;
}

.playlist__item-wrapper{
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	height: calc(100% - 15rem);
	overflow-y:auto;	
	overflow-x: hidden;
}

.playlist__item{
	display: flex;
	margin: 0.65rem 0;
	opacity: 0;
	transform: translateX(10rem);
	transition: opacity 0.5s,
				transform 0.5s;				
}
.playlist__item:hover{
	animation: bg 2s;	
}
@keyframes bg{
	0%{
		background-color:transparent;
	}
	50%{
		background-color:rgba(255, 255,255, 0.06);	
	}
	100%{
		background-color:transparent;
	}
}

.playlist__item *{
	pointer-events: none;
}
.playlist.show .playlist__item{
	opacity: 1;
	transform: translateX(0);
}
.playlist__item-cover{
	width: 5rem;
	height: 5rem;
	object-fit: cover;
	object-position: center;
}

.playlist__item-infoBox{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 1rem;
	font-weight: 300;
	min-width: 19rem;	
}
.playlist__item-title{
	font-size: 1.5rem;
}
.playlist__item-artist{
	font-size: 1rem;
}
.playlist__item-album{
	font-size: 1rem;
}

.nowPlaying{	
	display: flex;
	position: relative;	
}

.nowPlaying-cover{
	width: 7rem;
	height: 7rem;
	object-fit: cover;
	object-position: center;
	transition: all 0.3s 0.15s;
}

.playlist.show .nowPlaying-cover{
	width: 15rem;
	height: 15rem;
}

.nowPlaying-infoBox{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 1rem;
	font-weight: 300;
	min-width: 19rem;	
}
.nowPlaying-infoBox > span{
	transition: all 0.3s;
}
.nowPlaying-title{
	font-size: 2.1rem;
}
.nowPlaying-artist{
	font-size: 1.3rem;
}
.nowPlaying-album{
	font-size: 1rem;
}

.playlist.show .nowPlaying-title{
	font-size: 2.5rem;
}
.playlist.show .nowPlaying-artist{
	font-size: 1.7rem;
}
.playlist.show .nowPlaying-album{
	font-size: 1.3rem;
}

.toast {
	position: fixed;
	top: -100px;
	left: 50%;
	padding: 1rem 1.2rem;
	min-width: 13rem;
	z-index: 101;	
	border-radius: 2px;
	color: white;
	font-weight: 100;
	white-space: nowrap;
	pointer-events: none;
	opacity: 0;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transform: translateX(-50%) scale(0.7);
	transition: all 0.4s ease-out;
}
.toast.default{
	background-color: #323232;
}
.toast.success{
	background-color: #8BC34A;
}
.toast.alert {
	background-color: #d93737;
}