@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

body{
	overflow: hidden;
	font-family: 'Noto Sans Korean', Helvetica, Arial, sans-serif;
}

.wrapper{
	position:relative;
	width: 100vw;
	height: 100vh;	
	transition: background-color 0.3s 0.15s;
}

#logo{
	display: inline-block;
	padding:1.5rem;
	font-size:3rem;
	font-weight: 100;
}
#forkMeImage{
	position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.nowPlaying{	
	position: absolute;
	left: 50%;
	bottom: 10%;
	text-align: center;
	transform: translateX(-50%);
}
.nowPlaying > h3{
	line-height: 1.5;
	font-weight: 300;
}
.nowPlaying__artist{
	font-size: 1.35rem;		
}
.nowPlaying__title{
	font-size: 2rem;	
}
.nowPlaying__album{
	font-size: 1.2rem;	
}

.visualizer{	
	position:absolute;
	left:50%;
	top:50%;		
	z-index: 2;
	transition: left 0.3s;
	will-change: transform;	
}
.visualizer.showLyrics{
	left:25%;
}

.visualizer > div:not(#innerCircle){
	display: inline-block;
	position: absolute;	
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;		
	transform-origin:0% 0%;	
	transition: background-color 0.3s 0.15s;
}

#innerCircle{
	position:absolute;
	left:50%;
	top:50%;	
	width:200px;
	height:200px;
	box-sizing: border-box;	
	background-size: cover;
	border-radius: 100%;	
	transform: translate(-50%,-50%);
}

.lyrics{
	position:absolute;
	left:50%;
	top:50%;		
	z-index: 1;
	font-size: 3.5rem;
	font-weight: 100;	
	text-align: center;
    width: 50vw;
	opacity: 0;
	transform: translate(-50%,-50%) scale(0.5);
	transition: all 0.3s;	
}
.lyrics.showLyrics{
	left: 70%;
	opacity: 1;
	transform: translate(-50%,-50%) scale(1);
}
.lyrics > h1{
	margin: 1rem 0;
	line-height: 1.5;
}
.toast {
	position: fixed;
	top: -100px;
	left: 50%;
	padding: 1rem 1.2rem;
	min-width: 13rem;
	z-index: 101;	
	border-radius: 2px;
	color: white;
	font-weight: 100;
	pointer-events: none;
	opacity: 0;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transform: translateX(-50%) scale(0.7);
	transition: all 0.4s ease-out;
}
.toast.default{
	background-color: #323232;
}
.toast.success{
	background-color: #8BC34A;
}
.toast.alert {
	background-color: #d93737;
}